.video-player {
  width: 600px;
  height: auto;

  .controls {
    z-index: 10;
  }
  video {
    border-radius: 10px;
  }

  .controls {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      z-index: 10;
    }

    .title {
      bottom: 290px;
      font-size: 18px;
      color: #fff;
    }

    i {
      font-size: 18px;
      color: #000;
    }

    span {
      color: #000;
    }

    .form-range {
      width: 30%;
    }
  }

  .volume-slider {
    transform: rotate(-90deg);
  }

  .seek-bar {
    max-width: 350px;
  }
}
