<div class="container-fluid d-flex flex-column align-items-center mt-5">
  <h3>Video Player</h3>
  <div
    class="video-player"
    appHoverControls
    (hoverState)="showControls = $event"
  >
    <video
      (click)="togglePlayPause()"
      #videoPlayer
      [controls]="false"
      [src]="source"
    ></video>
    <div
      *ngIf="showControls"
      class="controls d-flex justify-content-between align-items-center px-3"
    >
      <h3 class="title">Title: {{ source | mp4ToTitle }}</h3>
      <button (click)="togglePlayPause()">
        @if (isPlaying) {
        <i class="bi bi-pause-fill"></i>
        } @else {
        <i class="bi bi-play-fill"></i>
        }
      </button>
      <div class="position-absolute d-flex align-items-center flex-column">
        <input
          #volumeControl
          class="form-range volume-slider w-75 mb-5"
          type="range"
          [min]="0"
          [max]="1"
          [step]="0.01"
          [value]="volume"
          [style.visibility]="showVolumeControl ? 'visible' : 'hidden'"
          (input)="onVolumeChange(volumeControl.valueAsNumber)"
          (mouseleave)="showVolumeControl = false"
        />

        <button class="volume-icon form-label mb-5 pb-4" (click)="onVolumeClick()">
          @if (volume === 0) {
          <i class="bi bi-volume-mute-fill"></i>
          } @else if (volume <= 0.5) {
          <i class="bi bi-volume-down-fill"></i>
          } @else {
          <i class="bi bi-volume-up-fill"></i>
          }
        </button>
      </div>

      <div class="seek-container d-flex me-3">
        <span class="seek-info me-2"
          >{{ formatTime(currentVideoTime) }} /
          {{ formatTime(videoDuration) }}</span
        >
        <input
          #seekBar
          class="form-range seek-bar"
          type="range"
          [min]="0"
          [max]="videoDuration"
          [step]="videoDuration/100"
          [value]="currentVideoTime"
          (input)="onSeek(seekBar.valueAsNumber)"
        />
      </div>
      <button (click)="toggleFullscreen()">
        <i class="bi bi-fullscreen"></i>
      </button>
    </div>
  </div>
</div>
