<div class="container-fluid mt-5">
  <div class="video-player" appHoverControls (hoverStateChange)="showControls = $event">
    <video
      #videoPlayer
      [controls]="false"
      src="assets/videos/cat-video-1.mp4"
    ></video>
    <div *ngIf="showControls" class="controls">
      <button class="btn btn-dark" (click)="togglePlayPause()">
        @if (isPlaying) {
          <i class="bi bi-pause-fill"></i>
        } @else {
          <i class="bi bi-play-fill"></i>
        }
      </button>
    </div>
  </div>
</div>
