.video-player {
  position: relative;
  width: 600px;
  height: auto;

  .controls {
    z-index: 10;
  }
  video {
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    .title {
      position: absolute;
      bottom: 290px;
      text-align: center;
      font-size: 18px;
      color: #000;
    }
  }

  i {
    font-size: 18px;
    color: #000;
  }

  span {
    color: #000;
  }

  .form-range {
    width: 30%;
  }
}

.volume-slider {
  transform: rotate(-90deg);
}

.seek-container {
  flex-grow: 1;
  justify-content: end;
}

.seek-bar {
  flex-grow: 1;
  max-width: 350px;
}
