<div class="container-fluid mt-5">
  <h3>{{source | mp4ToTitle}}</h3>
  <div class="video-player" appHoverControls (hoverStateChange)="showControls = $event" (click)="togglePlayPause()">
    <video
      #videoPlayer
      [controls]="false"
      [src]="source"
    ></video>
    <div *ngIf="showControls" class="controls d-flex justify-content-between px-3">
      <button class="btn btn-dark" (click)="togglePlayPause()">
        @if (isPlaying) {
          <i class="bi bi-pause-fill"></i>
        } @else {
          <i class="bi bi-play-fill"></i>
        }
      </button>
      <button class="btn btn-dark" (click)="toggleFullscreen()"><i class="bi bi-fullscreen"></i></button>
    </div>
  </div>
</div>
